astroid==2.5.1
attrs==20.3.0
cffi==1.14.5
cmd2==1.5.0
cmd2-ext-test==0.2.0
colorama==0.4.4
coverage==5.5
cryptography==3.4.6
iniconfig==1.1.1
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
packaging==20.9
passlib==1.7.4
-e git+https://github.com/micrictor/password-vault@b5bcf717d4b5b6506aab47506db16994a260c962#egg=password_vault
pluggy==0.13.1
py==1.10.0
pycparser==2.20
pylint==2.7.2
pyparsing==2.4.7
pyperclip==1.8.2
pytest==6.2.2
pytest-cov==2.11.1
toml==0.10.2
wcwidth==0.2.5
wrapt==1.12.1
